<div class="nested-fields">
  <%= f.label :ans, t(".answer") %>
  <%= f.text_field :ans %>

  <%= f.label :content, t(".content")%>
  <%= f.text_field :content %>

  <%= f.label :check, t(".check") %>
  <% Answer.checks.keys.each do |c| %>
    <div class="check">
      <%= f.label :check, c %>
      <%= f.radio_button :check, c %>
    <div>
  <% end %>

  <%= link_to_remove_association t(".remove_answer"), f %>
</div>
