<li>
  <span class="user">
    <%= link_to question.user_name, question.user %>
  </span>
  <span class="content">
    <%= t ".content" %>
    <%= question.content %>
  </span>
  <span class="answer">
    <% if current_user.suppervisor? %>
      <% if question.answers.any? %>
        <%= ".answer" %>
        <ul>
          <% question.answers.each do |answer| %>
            <li>
              <%= answer.ans %>, <%= answer.content %>, <%= answer.check %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= button_to t(".delete"), {action: "destroy", id: question.id}, method: :delete, data: {confirm: t(".sure")} %>
      <strong>
        <%= question.content %>
      </strong>
      <%= link_to t(".edit_question"), edit_question_path(question) %>
    <% end %>
  </span>
</li>
