<% if logged_in? %>
  <div class = "row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
    </aside>
    <% if  current_user.suppervisor? %>
      <p><%= link_to t(".add_new_user"), signup_path %></p>
      <p><%= link_to t(".add_new_subject"), subject_path %></p>
    <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <% provide :title, t(".title") %>
    <h1><%= t ".header" %></h1>
    <%= link_to t(".sign_in"), login_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
