<%= provide :title, @user.name %>
<div class="row">
  <strong><%= t".table" %></strong> <br>
</div>
<section class="content">
  <table class="table table-borderless">
    <tr><td><%= t".id" %></td><td><%= @user.id %></td></tr>
    <tr><td><%= t".name" %></td><td><%= @user.name %></td></tr>
    <tr><td><%= t".role" %></td><td><%= @user.role %></td></tr>
    <tr><td><%= t".email" %></td><td><%= @user.email %></td></tr>
  </table>
  <%= link_to t(".add_user"), new_user_path, class: "btn btn-outline-success" %>
</section>
