<tr>
  <td>
    <%= exam.id %>
  </td>
  <td>
    <%= exam.subject_name %>
  </td>
  <td>
    <%= exam.questions_exams.count %>
  </td>
  <td>
    <%= link_to exam.user_name, exam.user %>
  </td>
  <td>
    <% if current_user? exam.user %>
      <%= button_to t(".delete"), {action: "destroy", id: exam.id}, method: :delete, data: {confirm: t(".sure")} %>
    <% end %>
  </td>
</tr>
