<% provide :title, t(".title") %>
<section class="content-header">
  <h1><%= t ".header" %></h1>
</section>

<section class="content">
  <table class = "table table-hove">
    <caption align="top">
    <strong><%= t".table" %><br></strong>
    </caption>
    <thead>
      <tr>
        <th class="exam_id"><%= t ".id" %></th>
        <th class="subject_name"><%= t ".sub" %></th>
        <th class="num"> <%= t ".num" %></th>
        <th class="user_create"><%= t ".user" %></th>
        <th class="del"><%= t ".del" %></th>
      </tr>
      <tbody>
        <%= render @exam %>
      </tbody>
    </thead>
  </table>
  <%= link_to t(".add_exams"), new_exam_path, class: "btn btn-outline-success" %>
  <span>
    <%= paginate @exam, class: "pagination" %>
  </span>
</section>
